{% extends 'base.html' %}

{% load static %}
{% block content %}

<! code to display movies name as card---------------------------------------------->


    <div class="container">
        <div class="row">
            {% for i in Movie_list %}
            <div class="col-md-4">
                <div class="card" style="margin-top: 25px; margin-bottom: 20px;">
                    <img class="card-img-top" src="{{i.poster.url}}" alt="Card image cap" height="250">
                    <div class="card-body" style="align-item : stretch;">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text" style="height : 150px">{{i.desc}}</p>
                    <p class="card-text" style="height : 50px">{{i.actors}}</p>
                    <p class="card-text">{{i.release_date}}</p>
                    <a href="{{i.youtube_link}}" class="btn btn-primary">Trailer</a>
                    <a href="{% url 'movieapp:display_review' i.id %}" style="margin-left : 10px;" class="btn btn-info">View Reviews</a><br>
                    <a href="{% url 'movieapp:review_movie' i.id %}" style="margin-top : 10px;" class="btn btn-secondary">Post Reviews and Ratings</a>


                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}