<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello world</h1>
<form action="{% url 'register' %}" method='POST' >
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="First_name" placeholder="First_name"><br>
    <input type="text" name="last_name" placeholder="last_name"><br>
    <input type="email" name="email" placeholder="Enter Email ID"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="password1" placeholder="Conform password"><br>
    <input type="submit">

</form>


{% for msg in messages %}
    <h2>{{msg}}</h2>
    {% endfor %}


</body>
</html>